
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Second Layout </h1>
<h2>User Controller </h2>
<h3>Details Page </h3>
<div>
    <button> <a href="/user/">User Page </a></button>
    <button> <a href="/home/">Home Page </a></button>
</div>
