
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Second Layout </h1>
<h2>User Controller </h2>
<h3>Home Page </h3>
<div>
    <button> <a href="/user/details">Details Page </a></button>
    <button> <a href="/home/">Home Page </a></button>
</div>

